<!DOCTYPE html>
<html>

<head>
     <title>App | Data Chat</title>
     <link rel="stylesheet" href="style.css">
</head>

<body>
     <ul id="messages"></ul>
     <form id="form" action="">
          <input placeholder="Type your message here!" name = "input" id="input" autocomplete="off" /><button
               class="sendButton">Send</button>
          <button style="float: right;" class="button-style-red" id="toggleNotifications" type="button">Notifications</button>
          <button style="float: right;" class="button-style-green" id="toggleAlerts" type="button">Alerts</button>
          <button style="float: right;" class="button-style-red" id="logoutButton" type="button">Logout</button>
     </form>
     </button>
     <script src="/socket.io/socket.io.js"></script>
     <script src="/chat-script.js"></script>
     <script src="/server-comm.js"></script>
</body>

</html>

<!-- TODO write handling for a long chat message -->